body::before {
  display: block;
  content: '';
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.profile-img {

  width: 150px;
  height: 150px; 

  object-fit: cover; 
}


.rounded-circle {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
